@use "../../styles/borders";
@use "../../styles/paddings";
@use "../../styles/margins";
@use "sass:color";

.articlesPreview {
  padding: paddings.$padding-s;
  overflow-y: hidden;
  display: block;

  &InsideWrapper {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  &Link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .header {
    font-size: 24px;
    color: var(--color-font-hover);

    margin-bottom: margins.$margin-s;

    mark {
      color: var(--color-font-darken);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: margins.$margin-xs;

    justify-content: space-between;
    flex: 1;

    .element {
      display: block;

      $white-color: #ffffff;

      &:hover {
        .articleHeader {
          border: 1px solid color.change($color: $white-color, $lightness: 40%);
          color: color.change($color: $white-color, $lightness: 60%);
          background-color: color.change($color: $white-color, $lightness: 30%);
        }

        .textPreview {
          color: color.change($color: $white-color, $lightness: 40%);
        }
      }

      .articleHeader {
        display: flex;
        justify-content: space-between;
        padding: paddings.$padding-xs;

        border: 1px solid color.change($color: $white-color, $lightness: 30%);
        border-radius: borders.$border-xs;

        color: color.change($color: $white-color, $lightness: 50%);
        background-color: color.change($color: $white-color, $lightness: 20%);
        .title {
          font-weight: 400;
        }
        .ttr {
          font-weight: 400;
        }
      }

      .textPreview {
        overflow-y: hidden;
        text-overflow: ellipsis;
        height: 50px;
        margin-bottom: -10px;
        font-weight: 700;
        color: color.change($color: $white-color, $lightness: 30%);
      }
    }
  }
}
