@use "../../../styles/borders";
@use "../../../styles/themes";

.input {
  color: themes.theme-standard(font-hover);
  font-size: 12px;

  border: none;
  background: transparent;

  padding: 12px 3px 12px 12px;

  &::placeholder {
    color: themes.theme-standard(font-darken);
    font-size: 10px;
    font-weight: 500;
    // fade effect
  }

  &Box {
    float: left;
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &Label {
    padding-top: 2px;
    font-size: 14px;
    color: themes.theme-standard(font-hover);
  }
}
