@use "../../../styles/themes";
@use "../../../styles/borders";

.box {
  background-color: themes.theme-standard(box-default);
  border: 1px solid themes.theme-standard(box-border);
  border-radius: borders.$border-default;
}
