@use "sass:map" as map;
@use "../../../styles/colors";

.box {
  background-color: map.get(colors.$standard-theme, box-default);
  border: 1px solid map.get(colors.$standard-theme, box-border);
  border-radius: map.get(colors.$border-radius, default);
}
