@use "../../../../styles/paddings";
@use "../../../../styles/margins";

.shared {
  min-height: 150px;
  // max-width: 300px;

  display: flex;

  flex: 0;
  float: left;

  padding: paddings.$padding-s;
  color: var(--color-font-default);

  overflow: hidden;
}

.wrapper {
  :global(.box) {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
  }
}

@mixin textline-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.variant1 {
  flex-direction: column;

  &Top {
    flex: 0;

    &Title {
      font-weight: 800;
      color: var(--color-font-hero);
      font-size: 20px;
    }
    &Subtitle {
      display: flex;
      flex-direction: row;
      gap: margins.$margin-default;
      flex-wrap: wrap;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &Bottom {
    flex: 1;
    align-content: flex-end;

    display: flex;
    flex-direction: row;
    column-gap: margins.$margin-s;
    row-gap: margins.$margin-xs;
    flex-wrap: wrap;

    overflow: hidden;
  }
}

.variant2 {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &Left {
    &Title {
      font-weight: 800;
      color: var(--color-font-hero);
      font-size: 24px;

      @include textline-overflow;
    }
  }

  &Right {
    display: flex;
    flex-direction: column;
    gap: margins.$margin-xs;

    font-size: 18px;

    &Tags {
      display: flex;
      flex-direction: column;
      gap: margins.$margin-xs;

      color: var(--color-font-hero);
    }
  }
}

.variant3 {
  justify-content: flex-end;
  flex-direction: column;

  &Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &Tags {
      @include textline-overflow;
    }
  }

  &Bottom {
    &Title {
      font-weight: 800;
      color: var(--color-font-hero);
      font-size: 24px;

      @include textline-overflow;
    }
  }
}

.variant4 {
  &Top {
    flex: 1;
  }
}
