@use "../../../styles/borders";
@use "../../../styles/themes";

.image {
  border-radius: borders.$border-default;
  background-color: themes.theme-standard(font-hero);

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Alt {
    padding-top: 2px;
    font-weight: 800;
    font-size: 10px;
    color: themes.theme-standard(font-darken);
    position: inherit;

    display: none;
  }
}
