@use "../../styles/paddings";
@use "../../styles/margins";
@use "../../styles/media";
@use "../../styles/breakpoints";

.latestNewsTabs {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: margins.$margin-default;

  :global(.box) {
    padding: paddings.$padding-xl;
  }

  .firstRowItem {
    grid-column: span 3;
  }

  .secondRowItem {
    grid-column: span 2;
  }

  @include media.media-maxw(breakpoints.$md) {
    grid-template-columns: 1fr;

    .firstRowItem,
    .secondRowItem {
      grid-column: 1;
    }

    & > *:not(:nth-child(-n + 3)) {
      display: none;
    }
  }
}
