@use "../../../../styles/themes";

.defaultButton {
  background-color: themes.theme-standard(box-hover);
  color: themes.theme-standard(font-hover);

  &:hover {
    background-color: themes.theme-standard(box-default);
    color: themes.theme-standard(font-default);
  }
}
