.defaultButton {
  background-color: var(--color-box-hover);
  color: var(--color-font-hover);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--color-box-default);
    color: var(--color-font-default);
  }
}
