@use "../../styles/paddings";
@use "../../styles/margins";
@use "../../styles/breakpoints";
@use "../../styles/media";

.videosPreview {
  display: block;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: margins.$margin-s;

    font-size: 14px;

    @include media.media-maxw(breakpoints.$lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media.media-maxw(breakpoints.$sm) {
      grid-template-columns: 1fr;
    }
  }
}
