@use "../../styles/paddings";
@use "../../styles/margins";
@use "../../styles/breakpoints";
@use "../../styles/media";

.videosPreview {
  display: block;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: margins.$margin-s;

    font-size: 14px;

    @include media.media-maxw(breakpoints.$lg) {
      font-size: 12px;
    }
    @include media.media-maxw(breakpoints.$md) {
      font-size: 10px;
    }
  }
}
