@use "../../../styles/margins";
@use "../../../styles/paddings";
@use "../../../styles/themes";

.resultListRenderer {
  flex: 1;

  height: 100%;
  display: flex; // чтобы overflow-scroll нормально работал
  flex-direction: column; // чтобы overflow-scroll нормально работал

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    .title {
      color: themes.theme-standard(font-default);
    }

    .button {
      background-color: transparent;
      font-size: 22px;
      padding: 0;
      // .icon {

      // }
    }
  }

  .rowsGrid {
    grid-template-columns: 1fr;
  }
  .blocksGrid {
    grid-template-columns: 1fr 1fr;
  }
  .list {
    display: grid;
    grid-auto-rows: min-content;
    gap: margins.$margin-default margins.$margin-default;
    padding: 0;
    margin: 0;

    overflow-y: scroll;

    .element {
      // TODO: нормальные html теги выделить по семантике
      color: themes.theme-standard(icon-default);

      &Wrapper {
        border-radius: 10px;
        // composes: defaultButton from "../../../components/Generic/Buttons/Default/default-button.module.scss";
        background-color: themes.theme-standard(box-default);
        padding: paddings.$padding-s;

        &:hover {
          background-color: themes.theme-standard(box-hover);
        }
      }
      &:hover {
        color: themes.theme-standard(font-hover);
      }

      .title {
        display: flex;
        column-gap: margins.$margin-xs;
        font-size: 16px;
        font-weight: 800;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .text {
        margin-top: margins.$margin-xs;
        text-overflow: ellipsis;
        overflow: hidden;

        font-weight: 100;
        font-size: 12px; //must be scaled depending on .element width (because of block render)

        mark {
          font-weight: 800;
          color: themes.theme-standard(font-hero);
          background: transparent;
        }
      }
    }
  }
}
