$font-primary: "JetBrains Mono", Helvetica, Arial, sans-serif;
$font-header: "Pulsewidth";
$font-stretch: "STRRETCH SANS";
$font-code: "JetBrains Mono";

// @font-face {
//     font-family: "Pulsewidth";
//     src: url(/fonts/Pulsewidth-1.0.0.otf) format("otf");
//   }

//   @font-face {
//     font-family: "Pulsewidth Dot";
//     src: url(/fonts/Pulsewidth-Dot-1.0.0.otf) format("otf");
//   }

//   @font-face {
//     font-family: "STRRETCH SANS";
//     src: url(/fonts/STRRETCH-SANS.ttf) format("ttf");
//   }
