$padding-bottom: 14px;

$padding-modal-s: 12px;
$padding-modal: 24px;

// потом имплементнуть как тут: https://dev.to/arkardev/generating-css-spacing-utils-with-sass--4mll

// короче буду пока шлёпать какие в стиле паддинги, а потом уже приводить их к общему значению
$paddingCleverBarHeight: 20px;
$paddingCleverBarLatitude: 7px;
