@use "fonts";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: fonts.$font-primary;
}

html,
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none; // add link icon later in :after
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
