@use "fonts";
@use "colors";
@use "sass:map";

@use "../components/Generic/components.scss";
// @use "../styles/themes.mixin.scss"

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: fonts.$font-primary;
}

html,
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: 100%;

  color: map.get(colors.$standard-theme, font-default);
}

html {
  background-color: map.get(colors.$standard-theme, background-800);
}

body {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: map.get(colors.$standard-theme, background-800);
    z-index: -1;
  }
  padding: 35px 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none; // add link icon later in :after
  color: map.get(colors.$standard-theme, font-hero);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

mark {
  background: transparent;
}
