@use "../../../styles/margins";

.imageList {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden; // мб scroll
  column-gap: margins.$margin-s;

  mask: linear-gradient(to right, black 30%, transparent);
  -webkit-mask: linear-gradient(to right, black 30%, transparent);

  &Wrapper {
    display: flex;
    float: left;
    position: relative;
  }
}

.imageButton {
  border: none;
  background-color: transparent;
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}

.imagesAmount {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  padding: 0;

  background-color: transparent !important;

  // &[type="button"] был
  &:hover {
    background-color: transparent !important;
    color: var(--color-font-hover);
    font-weight: 700;
    font-size: 16px;
  }
}
