@use "../../../styles/themes";

.button {
  font-size: 14px;
  padding: 0px 18px; // хз почему verical paddings are collapsing
  cursor: pointer;
  position: relative;
  composes: defaultButton from "../../Generic/Buttons/Default/default-button.module.scss";

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  & input[type="radio"] {
    display: none;
  }

  &:has(input[type="radio"]:checked) {
    background-color: themes.theme-standard(font-default);
    color: themes.theme-standard(box-default);
  }
}

.group {
  opacity: 1; // class filler
}
