@use "../../styles/margins";
@use "../../styles/borders";
@use "../../styles/media";
@use "../../styles/breakpoints";

.articles {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  row-gap: margins.$margin-default;
  // height: 100%;
  height: auto !important;
  width: 100%;

  .header {
    color: var(--color-font-hero);
    font-size: 24px;
    font-weight: 400;
    mark {
      font-size: 16px;
      font-weight: 100;
      color: var(--color-box-border);
    }
  }

  .latestPosts {
    flex: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px; // temporary instead of 1fr, also in home-page .mainTabs
    gap: margins.$margin-default;

    .box1 {
      grid-column: span 2;
    }

    .box2 {
      grid-column: span 1;
    }

    @include media.media-maxw(breakpoints.$md) {
      grid-template-columns: 1fr;

      & > *:not(:first-child) {
        display: none;
      }
    }
  }

  .handle {
    display: flex;
    flex-direction: column;
    gap: margins.$margin-default;

    .controls {
      display: flex;
      flex-direction: row;
      gap: margins.$margin-s;

      &Tags {
        // тут opacity, но мб в boxes scroll будет
        border-radius: borders.$border-s;
        flex: 1;

        :global(.box) {
          background-color: var(--color-box-hover);
          color: var(--color-font-hover);
        }
      }
      &Input {
        div {
          height: 100%;
          width: 100%;

          input {
            width: calc(100% - 15px); // sideways input's paddings (3right and 12left)
          }
        }
        flex: 0.7;
      }
      &Filter {
        flex: 0;
      }

      @include media.media-maxw(breakpoints.$md) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &Tags {
          grid-column: span 3;

          & > * {
            padding: 12px 18px;
          }
        }
        &Input {
          grid-column: span 2;
        }
        &Filter {
          grid-column: span 1;
        }
      }
    }

    .articlesFound {
      display: flex; // placeholder
    }
  }
}
