@use "sass:map" as map;
@use "../../../styles/colors";
@use "../../../styles/borders";

.button {
  border-radius: borders.$border-s;
  background-color: map.get(colors.$standard-theme, box-default);

  padding: 12px 18px;
  border: none;

  // transition: all 0.01s ease-in-out;
  cursor: pointer;

  color: map.get(colors.$standard-theme, font-default);
  font-weight: 700;

  &:hover {
    background-color: map.get(colors.$standard-theme, box-hover);
    color: map.get(colors.$standard-theme, font-hover);
  }

  &:active {
    filter: opacity(0.5);
  }

  // TODO: decide to change box highlisht styles when selected from keyboard
}

.not-so-secret-btn {
  background-color: #0f0f0f;
  border-radius: 0 0 3px 3px;
  position: fixed;
  top: 0;
  left: 80%;
  border: none;
  width: 24px;
  height: 13px;
  outline: none;

  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
