@use "../../styles/margins";
@use "../../styles/paddings";
@use "../../styles/fonts";
@use "../../styles/colors";
@use "../../styles/z-indexes";
@use "sass:map";

.bottomCleverBar {
  display: flex;
  column-gap: margins.$margin-default;
  max-width: 50vw;
  position: relative; //https://dev.to/sabbirsobhani/css-child-behind-parent-with-z-index-23j1

  z-index: z-indexes.$clever-bar;

  :global(.box) {
    padding: paddings.$paddingCleverBarHeight paddings.$paddingCleverBarLatitude;
  }

  .controls {
    flex: 1;
    background-color: map.get(colors.$standard-theme, box-hover);
  }

  .devName {
    flex: 0;
    background-color: rgb(map.get(colors.$standard-theme, box-hover), 0.5);

    font-family: fonts.$font-stretch;
    color: rgb(map.get(colors.$standard-theme, font-hero), 0.6);

    backdrop-filter: blur(7px);
  }
}
