@use "../../styles/margins";
@use "../../styles/fonts";
@use "../../styles/z-indexes";
@use "../../styles/themes";

.bottomCleverBar {
  display: flex;
  column-gap: margins.$margin-s;
  max-width: 50vw;
  position: relative; //https://dev.to/sabbirsobhani/css-child-behind-parent-with-z-index-23j1

  z-index: z-indexes.$clever-bar;

  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);

  transition: bottom 0.1s ease-in-out;

  white-space: nowrap;

  :global(.box) {
    padding: 20px 7px;
  }

  .barOne {
    flex: 1;
    background-color: themes.theme-standard(box-hover);
  }

  .barTwo {
    flex: 0;
    background-color: rgb(themes.theme-standard(box-hover), 0.5);

    font-family: fonts.$font-stretch;
    color: rgb(themes.theme-standard(font-hero), 0.6);

    backdrop-filter: blur(7px);
  }
}
.hideBar {
  bottom: -20%;
}
