@use "../../styles/margins";
@use "../../styles/paddings";
@use "../../styles/borders";
@use "../../styles/fonts";
@use "../../styles/colors";
@use "sass:map";

.modal {
  padding: 0;
  background: transparent;

  width: 50vw;
  height: 70vh;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(7px);
    z-index: 0;
  }
}

.articlesGlobalSearch {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: margins.$margin-default;

  padding: paddings.$padding-xl;
  height: 100%;

  overflow-y: hidden;

  background-color: rgba(map.get(colors.$standard-theme, box-default), 0.6);

  .top {
    display: flex;
    flex-direction: column;
    flex: 0;

    row-gap: margins.$margin-s;

    .title {
      font-family: fonts.$font-stretch;
      font-size: 16px;
      color: map.get(colors.$standard-theme, font-hero);
      font-weight: 400;

      &Wrapper {
        display: block;
      }
    }

    .subtitle {
      font-size: 12px;
      color: map.get(colors.$standard-theme, font-sub);
      font-weight: 100;
    }

    .categories {
      border: none;

      & > div > label {
        padding: 0;
        line-height: 24px;
      }

      :global(.box) {
        padding: 0;
      }

      .category {
        display: flex;
        align-items: center;
        column-gap: margins.$margin-xs;

        padding: paddings.$padding-xs;

        font-size: 12px;
        font-weight: 400;

        border-radius: borders.$border-xs;
      }
    }

    .searchWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      column-gap: margins.$margin-s;

      // .searchInput > div {
      // border-radius: borders.$border-xs;
      // }
      .searchInput > div > input::placeholder {
        font-size: 12px;
      }

      .searchBtn {
        padding: 0;
        aspect-ratio: 1/1;
        height: 100%;

        padding-top: 5px;
      }
    }
  }

  .searchResult {
    // display: flex;
    // flex-direction: column;
    position: relative;
    flex: 1;
    overflow: hidden;

    // height: 100%;
    // max-height: 100%;

    .girlBored {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .girlImage {
        opacity: 0.6;
        img {
          background-color: transparent;
        }
      }
    }

    .nothingFound {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: map.get(colors.$standard-theme, font-hero);

      display: flex;
      flex-direction: column;
      align-items: center;

      opacity: 0.6;

      .title {
        font-family: fonts.$font-stretch;
        font-size: 18px;
        font-weight: 400;
      }

      .subtitle {
        font-size: 12px;
        font-weight: 100;
        word-break: keep-all;
        white-space: nowrap;
      }
    }
  }
}
