@use "../../styles/margins";
@use "../../styles/themes";

.home {
  margin-top: margins.$margin-default;
  display: flex;
  flex-direction: column;
  row-gap: margins.$margin-default;
  // height: 100%;
  height: auto !important;

  .randomWidget {
    flex: 1;
    // скорее всего уберу
    // margin-top: 14px;
    .viewer {
      aspect-ratio: 4/3;
    }
  }

  .mainTabs {
    flex: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 170px; // temporary instead of 1fr, also in home-page .latestPosts
    gap: margins.$margin-default;

    .articlesPreview {
      grid-column: span 3;
    }

    .guyStanding {
      grid-column: span 1;

      img {
        background: transparent;
      }
    }

    .box1 {
      grid-column: span 1;
    }

    .box2 {
      grid-column: span 2;
    }

    .box3 {
      grid-column: span 3;
    }
  }

  .projects {
    margin-top: calc(margins.$margin-default * 2);
    // display: flex;
    // flex-direction: column;
    // gap: 25px;
    display: block;

    &Title {
      font-family: var(--font-strretch-sans);
      font-size: 16px;
      color: themes.theme-standard("font-hero");
      font-weight: 400;

      display: inline-block;
      position: relative;
      margin-bottom: 25px;

      mark {
        color: themes.theme-standard("font-sub");
        background-color: transparent;
        font-size: 0.8em;
        font-family: var(--font-pulsewidth);

        position: absolute;
        right: 0px;
        top: -25%;
        transform: translate(110%, 0%);
      }
    }

    // .projects-list {

    // }
  }
}
