@use "../../../styles/margins";

// .tree {

// }
.treeNode {
  .label {
    margin-bottom: margins.$margin-s;
    color: var(--color-font-hero);

    a {
      text-decoration: underline;
      &:hover {
        opacity: 0.7;
      }
    }

    span {
      opacity: 0.5;
    }
  }

  .children {
    padding-left: 10px;
    border-left: 1px solid var(--color-font-hero);
  }
}
