@use "../../../styles/margins";
@use "../../../styles/paddings";
@use "../../../styles/borders";
@use "../../../styles/media";
@use "../../../styles/breakpoints";

.boxesScrollbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  position: relative;

  overflow-x: scroll;
  //   убрать сам скролл визуально
  &::-webkit-scrollbar {
    display: none;
  }

  column-gap: margins.$margin-s;
  transition: all 0.1s ease-in-out;

  @include media.media-minw(breakpoints.$lg) {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  // scroll-behavior: smooth;

  // $fade-border-persentage: 10%;
  // mask: linear-gradient(to right, black calc(100% - 30px), transparent);
  // -webkit-mask: linear-gradient(to right, transparent 30px, black calc(100% - 60px), transparent);

  // не transparent, а rgba потому что: https://codepen.io/kidd1118/pen/qxQwvE
  // -webkit-mask:
  // linear-gradient(
  //     to right,
  //     rgba(0, 0, 0, 0) 0%,
  //     rgba(0, 0, 0, 1) $fade-border-persentage,
  //     rgba(0, 0, 0, 1) calc(100% - $fade-border-persentage),
  //     rgba(0, 0, 0, 0) 100%
  //   ),
  //   linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) $fade-border-persentage),
  //   linear-gradient(to right, rgba(0, 0, 0, 1) calc(100% - $fade-border-persentage), rgba(0, 0, 0, 0) 100%);
  // // -webkit-mask: linear-gradient(to left, black calc(100% - 30px), transparent);
  // // -webkit-mask: linear-gradient(to right, transparent, #fff) top / 10% 90%;
  // // -webkit-mask: linear-gradient(to top, transparent 10%, #fff 15% 90%, transparent 95%);
  // -webkit-mask-repeat: no-repeat;

  :global(.box) {
    padding: paddings.$padding-xs paddings.$padding-s;
    border-radius: borders.$border-xs;
    border: none;

    // optional, там потом вместо icon&text будет кнопка
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: margins.$margin-xs;
    white-space: nowrap;
  }
}
