@use "../../../styles/margins";
@use "../../../styles/paddings";
@use "../../../styles/media";
@use "../../../styles/breakpoints";

.articleDefault {
  display: block;

  .backBtn {
    justify-content: flex-start;
  }

  .rightPanel {
    float: right;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: margins.$margin-default;
    padding: paddings.$padding-xs;
    @include media.media-maxw(breakpoints.$xs) {
      float: none;
      display: grid;
      width: 100%;

      .links {
        align-items: flex-start !important;
        & > * {
          text-align: start !important;
        }
      }
    }

    .articleDate {
      color: var(--color-icon-default);
    }

    .tags {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: margins.$margin-s;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: margins.$margin-default;
      align-items: flex-end;
      & > * {
        text-align: end;
        word-break: break-all;
      }
    }

    .images {
      img {
        border-radius: 10px;
      }
    }
  }

  .articleContent {
    // display: flex; // нельзя ибо тогда рушится идея обтекаемого текста
    // flex-direction: column;
    // gap: margins.$margin-default;
    padding-bottom: 35px; //ибо в body при overflow по height не применяется паддинг в конце

    .title {
      font-size: 30px;
      font-weight: 700;
      color: var(--color-font-hero);
      margin: 0;

      position: relative;

      &::after {
        content: attr(data-id);
        position: absolute;
        z-index: 2;
        bottom: 0%;
        left: 0%;
        transform: translateY(110%);
        background: black;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }

    & > *:not(:last-child) {
      margin-bottom: margins.$margin-default;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-font-hover);
      line-height: 32px;
      padding: 5px 0;
    }
  }
}
